/*** FONT IMPORTS: ***/
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

/*** GENERAL ELEMENTS: ***/
:root {
    --darkest: #09111C;
    --gray-dark: #1B1B2F;
    --blue-dark: #162447;
    --light-pink: #E43F5A;
    --bright-pink: #BD0740;
    --white: #E0E7ED;

    --handwritten: 'East Sea Dokdo';
    --ubuntu: 'Ubuntu Condensed'
}
* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    min-height: 100%;
}
body {
    margin: 0 auto;
    background-color: var(--darkest);
}

/*** FONT FAMILYS ***/
h1 {
    font-family: 'Oswald';
    color: var(--white);
    letter-spacing: 5px;
    font-size: 50px;
    margin: 0;
}
h2 {
    font-family: var(--ubuntu);
    color: var(--white);
    font-size: 25px;
    letter-spacing: 2px;
}
p {
    font-family: var(--ubuntu);
    color: var(--white);
    font-size: 18px;
    letter-spacing: 1px;
}

/*** FRONT PAGE: ***/
.bgimg {
    background-image: url(./resources/imgs/busstopcropped.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    margin: 0;
    width: 100%;
    height: 100vh;
}
#navbar {
    margin-top: 0;
    list-style: none;
    position: absolute;
}
#navbar li {
    display: block;
    float: left;
    margin: 0;
    padding: 8px 2vw;
}
#navbar li a {
    color: var(--white);
    text-decoration: none;
    font-family: var(--ubuntu);
    font-size: 18px;
}

#namebar {
    text-align: left;
    width: 100%;
    height: 100vh;
    padding: 20vw 3%;
}
#namebar .majors {
    margin-top: 0;
    margin-bottom: 2rem
}
