@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap')

@font-face
   font-family: 'Space Grotesk'
   src: url("../fonts/SpaceGrotesk-2.0.0/ttf/SpaceGrotesk[wght].ttf") format("truetype")

$spaceg: 'Space Grotesk', sans-serif
$secular: 'Secular One', sans-serif
    
$dark-blue: #28282A
$blue: #6b818c
$red: #db5461
$white: #f7ebfe
$yellow: #fed766

p
    font-size: 18px
    margin: 25px 0
h1
    font-family: $secular
    font-size: 60px
h2
    font-family: $spaceg
h4
    margin: 0
    font-size: 45px
h5
    margin: 0
    font-size: 14px

nav
    font-family: $spaceg
    padding: 1em
    background-color: $dark-blue
    // box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2), 0 0 10px 0 rgba(0, 0, 0, 0.19)

    .nav-item, a, .nav-link
        color: $white
    .nav-item:hover
        color: $red
    .nav-item:active
        color: $blue
    .navbar-brand
        font-family: $secular

img
    height: 300px

main
    font-family: $spaceg
    margin: 0 25% 0 0
    padding: 4%
    // height: 72vh
    // width: auto
    // display: flex
    height: calc(100vh - 10%)
    color: $white
    overflow: auto
    
    .name
        color: $blue

section
    margin: 20px 0

.small-text
    font-size: 22px
    font-family: $secular

.badge
    margin: 5px 10px
    font-family: $secular
    font-size: 18px
    letter-spacing: 4px
    color: $dark-blue
.badge-pill
    border-radius: 20px
.badge-blue
    background-color: $blue

.project
    width: 100%
    border-radius: 10px
    color: $white
    margin: 3em 25px
    padding: 1em 2em
    transition: 0.2s
    cursor: pointer
.project:hover
    transition: 0.2s
    letter-spacing: 1px
.project-title
    font-family: $secular
p.project-desc
    font-size: 16px
    line-height: 35px
    margin: 0
.project-type
    font-size: 14px
    margin-left: 20px
    text-transform: uppercase
    color: $blue
.project-ptitle
    font-size: 14px
    margin: 25px 0 5px
    text-transform: uppercase
    color: $blue 
.git-btn
    background-color: $yellow
    color: $dark-blue
    margin: 20px 0 0

.mockup-container
    margin: 2em 0 0
.laptop
    width: 100%
    height: auto
    margin: 10px 0
    border-radius: 10px
.phone
    width: 40%
    height: auto
    margin: 10px
    border-radius: 25px

.contact-list
    list-style: none
    a
        color: $white
        text-decoration: none
        transition: 0.2s
    a:hover
        color: $red
        transition: 0.2s