$dark-blue: #28282A
$blue: #6b818c
$red: #db5461
$white: #f7ebfe
$yellow: #fed766

nav
    padding: 1em
    background-color: $dark-blue
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

    .nav-item
        color: $white
    .nav-item:hover
        color: $red