$dark-blue: #28282A
$blue: #6b818c
$red: #db5461
$white: #f7ebfe
$yellow: #fed766
    
body
    margin: 0
    background: url('../images/mainbg_repeat2.png')
    background-size: 100vw auto
    color: $dark-blue


// scrollbar
body::-webkit-scrollbar
    width: 1em
body::-webkit-scrollbar-track
    background-color: $dark-blue
body::-webkit-scrollbar-thumb
    background-color: $white